  <div class="nav-bar">
    <header>
      <button class="button menu-button" (click)="toggleMenuState()">
        <img ngSrc="assets/menu.png" alt="menu" height="15" width="15">
      </button>
    </header>
    <ul class="bar">
      <li class="item" *ngFor="let item of navBarItems">
        <a [href]="item.path"
           [class.selected]="item.path === selectedPath"
           (click)="setSelectedPath(item.path)">
          <span class="text">{{item.title}}</span>
          <span class="text">{{item.titleHe}}</span></a>
      </li>
    </ul>
  </div>
