.nav-bar {
  height: 90%;
  background-color: var(--white);
  border-radius: 20px;
  margin: 5px 0 0 5px;
  padding: 10px;

  header {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: end;

    .close {
      width: 20px;
      height: 20px
    }
  }


  .bar {
    width: 90%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    .item {
      a {
        display: flex;
        justify-content: space-between;
        color: var(--pink);
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        transition: 500ms;
        border-radius: 5px;
        font-weight: bold;

        &:hover {
          background-color: var(--light-purple);
          color: black;
        }

        //&.selected {
        //  color: var(--red);
        //}
      }


    }
  }
}
