/* You can add global styles to this file, and also import other style files */
:root {
  user-select: none;
  --white: #ffff;
  --light-grey: #eef1f7;
  --grey: #b0a5ae;
  --dark-grey: #948c92;
  --red: #98164c;
  --pink: #e779d0;
  --light-pink: #e5d7e2;
  --purple: #5e5eea;
  --light-purple: #dbdbef;
}
